<template>
  <div class="hello">
    <div v-for="room in rooms" :key="room.id">
      Name: {{room.fields.Name}} | Address: {{room.fields.Address}}
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js Test App!',
      rooms: null
    }
  },
  mounted: function () {
    this.$http.get('https://api.airtable.com/v0/appymAv4SUKyPLbav/Property', {
      headers: {
        Authorization: 'Bearer keyqPzANgOAU5NE2b'
      }
    })
      .then(function (res) {
        this.rooms = res.body.records
      })
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
